/*---------- product ----------
-------------------------------*/
.prod_list {
  padding: 1.5rem 0 2rem;

  & .prod_box {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;

    & .prod_content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 140px;
      margin-bottom: 1rem;

      & .price {
        font-size: 1.5rem;
      }
    }

    & .form-group {
      & .form-control {
        padding-left: 6rem;
        font-size: 0.875rem;
      }
      & span {
        position: absolute;
        top: 50%;
        left: 10px;
        z-index: 9999;
        font-size: 0.875rem;
        color: var(--primary);
        transform: translateY(-50%);
      }

      & .quantity-nav {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);

        & .sub {
          background: transparent;
          box-shadow: none;
          border: 0px;
          display: block;
          font-size: 0.75rem;
          line-height: 1.1;
          padding: 0 8px;
        }

        & .add {
          background: transparent;
          box-shadow: none;
          border: 0px;
          display: block;
          font-size: 0.75rem;
          line-height: 1.1;
          padding: 0 8px;
        }
      }
    }
  }
}
