/*---------- buttons ----------
-------------------------------*/
.btn {
  display: inline-block;
  font-weight: var(--fw-regular);
  line-height: 1.5;
  color: var(--clr-white);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.675rem 1.75rem;
  font-size: 1rem;
  border-radius: 2px;
  letter-spacing: 2px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    color: var(--accent);
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
}

.btn-primary {
  color: var(--clr-white);
  background-color: var(--primary);
  border-color: var(--primary);

  &:hover {
    outline: 2px solid var(--primary);
    color: var(--clr-white);
    background-color: var(--primary);
    border-color: var(--primary);
  }
  &:focus {
    color: var(--clr-white);
    background-color: var(--primary);
    border-color: var(--primary);
    outline: 2px solid var(--primary);
    box-shadow: 0 0 0 0.25rem rgba(206, 179, 131, 0.5);
  }
}

.btn-secondary {
  color: var(--clr-white);
  background-color: var(--secondary);
  border-color: var(--secondary);

  &:hover {
    color: var(--clr-white);
    background-color: var(--secondaryDark);
    border-color: var(--secondaryDark);
  }
  &:focus {
    color: var(--clr-white);
    background-color: var(--secondaryDark);
    border-color: var(--secondaryDark);
    box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
  }
}

.btn-success {
  color: var(--clr-white);
  background-color: var(--success);
  border-color: var(--success);

  &:hover {
    color: var(--clr-white);
    background-color: #157347;
    border-color: #146c43;
  }
  &:focus {
    color: var(--clr-white);
    background-color: #157347;
    border-color: #146c43;
    box-shadow: 0 0 0 0.25rem rgba(60, 153, 110, 0.5);
  }
}

.btn-info {
  color: var(--clr-black);
  background-color: var(--info);
  border-color: var(--info);

  &:hover {
    color: var(--clr-black);
    background-color: #31d2f2;
    border-color: #25cff2;
  }
  &:focus {
    color: var(--clr-black);
    background-color: #31d2f2;
    border-color: #25cff2;
    box-shadow: 0 0 0 0.25rem rgba(11, 172, 204, 0.5);
  }
}

.btn-warning {
  color: var(--clr-black);
  background-color: var(--warning);
  border-color: var(--warning);

  &:hover {
    color: var(--clr-black);
    background-color: #ffca2c;
    border-color: #ffc720;
  }
  &:focus {
    color: var(--clr-black);
    background-color: #ffca2c;
    border-color: #ffc720;
    box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
  }
}

.btn-danger {
  color: var(--clr-white);
  background-color: var(--danger);
  border-color: var(--danger);

  &:hover {
    color: var(--clr-white);
    background-color: #bb2d3b;
    border-color: #b02a37;
  }
  &:focus {
    color: var(--clr-white);
    background-color: #bb2d3b;
    border-color: #b02a37;
    box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
  }
}

.btn-light {
  color: var(--clr-black);
  background-color: var(--light);
  border-color: var(--light);

  &:hover {
    color: var(--clr-black);
    background-color: #f9fafb;
    border-color: #f9fafb;
  }
  &:focus {
    color: var(--clr-black);
    background-color: #f9fafb;
    border-color: #f9fafb;
    box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
  }
}

.btn-dark {
  color: var(--clr-white);
  background-color: var(--dark);
  border-color: var(--dark);

  &:hover {
    color: var(--clr-white);
    background-color: #1c1f23;
    border-color: #1a1e21;
  }
  &:focus {
    color: var(--clr-white);
    background-color: #1c1f23;
    border-color: #1a1e21;
    box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
  }
}

.btn-outline-primary {
  color: var(--primary);
  border-color: var(--primary);

  &:hover {
    color: var(--clr-white);
    background-color: var(--primary);
    border-color: var(--primary);
  }
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
  }
}

.btn-outline-secondary {
  color: var(--secondary);
  border-color: var(--secondary);

  &:hover {
    color: var(--clr-white);
    background-color: var(--secondary);
    border-color: var(--secondary);
  }
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
  }
}

.btn-outline-success {
  color: var(--success);
  border-color: var(--success);

  &:hover {
    color: var(--clr-white);
    background-color: var(--success);
    border-color: var(--success);
  }
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
  }
}

.btn-outline-info {
  color: var(--info);
  border-color: var(--info);

  &:hover {
    color: var(--clr-black);
    background-color: var(--info);
    border-color: var(--info);
  }
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 202, 240, 0.5);
  }
}

.btn-outline-warning {
  color: var(--warning);
  border-color: var(--warning);

  &:hover {
    color: var(--clr-black);
    background-color: var(--warning);
    border-color: var(--warning);
  }
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
  }
}

.btn-outline-danger {
  color: var(--danger);
  border-color: var(--danger);

  &:hover {
    color: var(--clr-white);
    background-color: var(--danger);
    border-color: var(--danger);
  }
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
  }
}

.btn-outline-light {
  color: var(--light);
  border-color: var(--light);

  &:hover {
    color: var(--clr-black);
    background-color: var(--light);
    border-color: var(--light);
  }
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
  }
}

.btn-outline-dark {
  color: var(--dark);
  border-color: var(--dark);

  &:hover {
    color: var(--clr-white);
    background-color: var(--dark);
    border-color: var(--dark);
  }
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
  }
}

.btn-link {
  font-weight: var(--fw-regular);
  color: var(--clr-blue);
  text-decoration: underline;

  &:hover {
    color: var(--clr-blue);
  }
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}
