/*---------- footer ----------
------------------------------*/
.section_footer {
  padding: 1.25rem 0;

  & p {
    font-size: 0.75rem;
  }

  & .footer_links {
    list-style: none;
    font-size: 0.75rem;
    margin: 0;
    padding: 0;

    & li {
      padding: 5px 10px;
      font-weight: var(--fw-smbold);

      & a {
        text-decoration: none;
        color: var(--primary);

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  & .payment-icons {
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
      & + li {
        padding-left: 5px;
      }
      & .icon {
        width: 30px;
        height: 30px;

        & path {
          fill: var(--primary);
        }
      }
    }
  }

  & .disclaimer {
    border: 1px solid var(--primary);
    padding: 5px;
  }
}
