/*---------- grid ----------
----------------------------*/
.grid {
  display: grid;
  grid-template-columns: 1fr;
}
.grid > * {
  box-sizing: border-box;
}

.cols-1 {
  grid-template-columns: repeat(1, 1fr);
}

.span-1 {
  grid-column: span 1;
  grid-row: span 1;
}

.col-span-1 {
  grid-column: span 1;
}

.row-span-1 {
  grid-row: span 1;
}

.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.span-2 {
  grid-column: span 2;
  grid-row: span 2;
}

.col-span-2 {
  grid-column: span 2;
}

.row-span-2 {
  grid-row: span 2;
}

.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.span-3 {
  grid-column: span 3;
  grid-row: span 3;
}

.col-span-3 {
  grid-column: span 3;
}

.row-span-3 {
  grid-row: span 3;
}

.cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.span-4 {
  grid-column: span 4;
  grid-row: span 4;
}

.col-span-4 {
  grid-column: span 4;
}

.row-span-4 {
  grid-row: span 4;
}

.cols-5 {
  grid-template-columns: repeat(5, 1fr);
}

.span-5 {
  grid-column: span 5;
  grid-row: span 5;
}

.col-span-5 {
  grid-column: span 5;
}

.row-span-5 {
  grid-row: span 5;
}

.cols-6 {
  grid-template-columns: repeat(6, 1fr);
}

.span-6 {
  grid-column: span 6;
  grid-row: span 6;
}

.col-span-6 {
  grid-column: span 6;
}

.row-span-6 {
  grid-row: span 6;
}

.cols-7 {
  grid-template-columns: repeat(7, 1fr);
}

.span-7 {
  grid-column: span 7;
  grid-row: span 7;
}

.col-span-7 {
  grid-column: span 7;
}

.row-span-7 {
  grid-row: span 7;
}

.cols-8 {
  grid-template-columns: repeat(8, 1fr);
}

.span-8 {
  grid-column: span 8;
  grid-row: span 8;
}

.col-span-8 {
  grid-column: span 8;
}

.row-span-8 {
  grid-row: span 8;
}

.cols-9 {
  grid-template-columns: repeat(9, 1fr);
}

.span-9 {
  grid-column: span 9;
  grid-row: span 9;
}

.col-span-9 {
  grid-column: span 9;
}

.row-span-9 {
  grid-row: span 9;
}

.cols-10 {
  grid-template-columns: repeat(10, 1fr);
}

.span-10 {
  grid-column: span 10;
  grid-row: span 10;
}

.col-span-10 {
  grid-column: span 10;
}

.row-span-10 {
  grid-row: span 10;
}

.cols-11 {
  grid-template-columns: repeat(11, 1fr);
}

.span-11 {
  grid-column: span 11;
  grid-row: span 11;
}

.col-span-11 {
  grid-column: span 11;
}

.row-span-11 {
  grid-row: span 11;
}

.cols-12 {
  grid-template-columns: repeat(12, 1fr);
}

.span-12 {
  grid-column: span 12;
  grid-row: span 12;
}

.col-span-12 {
  grid-column: span 12;
}

.row-span-12 {
  grid-row: span 12;
}

@media (min-width: 36rem) {
  .cols-sm-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .span-sm-1 {
    grid-column: span 1;
    grid-row: span 1;
  }

  .col-span-sm-1 {
    grid-column: span 1;
  }

  .row-span-sm-1 {
    grid-row: span 1;
  }

  .cols-sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .span-sm-2 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .col-span-sm-2 {
    grid-column: span 2;
  }

  .row-span-sm-2 {
    grid-row: span 2;
  }

  .cols-sm-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .span-sm-3 {
    grid-column: span 3;
    grid-row: span 3;
  }

  .col-span-sm-3 {
    grid-column: span 3;
  }

  .row-span-sm-3 {
    grid-row: span 3;
  }

  .cols-sm-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .span-sm-4 {
    grid-column: span 4;
    grid-row: span 4;
  }

  .col-span-sm-4 {
    grid-column: span 4;
  }

  .row-span-sm-4 {
    grid-row: span 4;
  }

  .cols-sm-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .span-sm-5 {
    grid-column: span 5;
    grid-row: span 5;
  }

  .col-span-sm-5 {
    grid-column: span 5;
  }

  .row-span-sm-5 {
    grid-row: span 5;
  }

  .cols-sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .span-sm-6 {
    grid-column: span 6;
    grid-row: span 6;
  }

  .col-span-sm-6 {
    grid-column: span 6;
  }

  .row-span-sm-6 {
    grid-row: span 6;
  }

  .cols-sm-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .span-sm-7 {
    grid-column: span 7;
    grid-row: span 7;
  }

  .col-span-sm-7 {
    grid-column: span 7;
  }

  .row-span-sm-7 {
    grid-row: span 7;
  }

  .cols-sm-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .span-sm-8 {
    grid-column: span 8;
    grid-row: span 8;
  }

  .col-span-sm-8 {
    grid-column: span 8;
  }

  .row-span-sm-8 {
    grid-row: span 8;
  }

  .cols-sm-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .span-sm-9 {
    grid-column: span 9;
    grid-row: span 9;
  }

  .col-span-sm-9 {
    grid-column: span 9;
  }

  .row-span-sm-9 {
    grid-row: span 9;
  }

  .cols-sm-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .span-sm-10 {
    grid-column: span 10;
    grid-row: span 10;
  }

  .col-span-sm-10 {
    grid-column: span 10;
  }

  .row-span-sm-10 {
    grid-row: span 10;
  }

  .cols-sm-11 {
    grid-template-columns: repeat(11, 1fr);
  }

  .span-sm-11 {
    grid-column: span 11;
    grid-row: span 11;
  }

  .col-span-sm-11 {
    grid-column: span 11;
  }

  .row-span-sm-11 {
    grid-row: span 11;
  }

  .cols-sm-12 {
    grid-template-columns: repeat(12, 1fr);
  }

  .span-sm-12 {
    grid-column: span 12;
    grid-row: span 12;
  }

  .col-span-sm-12 {
    grid-column: span 12;
  }

  .row-span-sm-12 {
    grid-row: span 12;
  }
}
@media (min-width: 48rem) {
  .cols-md-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .span-md-1 {
    grid-column: span 1;
    grid-row: span 1;
  }

  .col-span-md-1 {
    grid-column: span 1;
  }

  .row-span-md-1 {
    grid-row: span 1;
  }

  .cols-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .span-md-2 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .col-span-md-2 {
    grid-column: span 2;
  }

  .row-span-md-2 {
    grid-row: span 2;
  }

  .cols-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .span-md-3 {
    grid-column: span 3;
    grid-row: span 3;
  }

  .col-span-md-3 {
    grid-column: span 3;
  }

  .row-span-md-3 {
    grid-row: span 3;
  }

  .cols-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .span-md-4 {
    grid-column: span 4;
    grid-row: span 4;
  }

  .col-span-md-4 {
    grid-column: span 4;
  }

  .row-span-md-4 {
    grid-row: span 4;
  }

  .cols-md-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .span-md-5 {
    grid-column: span 5;
    grid-row: span 5;
  }

  .col-span-md-5 {
    grid-column: span 5;
  }

  .row-span-md-5 {
    grid-row: span 5;
  }

  .cols-md-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .span-md-6 {
    grid-column: span 6;
    grid-row: span 6;
  }

  .col-span-md-6 {
    grid-column: span 6;
  }

  .row-span-md-6 {
    grid-row: span 6;
  }

  .cols-md-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .span-md-7 {
    grid-column: span 7;
    grid-row: span 7;
  }

  .col-span-md-7 {
    grid-column: span 7;
  }

  .row-span-md-7 {
    grid-row: span 7;
  }

  .cols-md-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .span-md-8 {
    grid-column: span 8;
    grid-row: span 8;
  }

  .col-span-md-8 {
    grid-column: span 8;
  }

  .row-span-md-8 {
    grid-row: span 8;
  }

  .cols-md-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .span-md-9 {
    grid-column: span 9;
    grid-row: span 9;
  }

  .col-span-md-9 {
    grid-column: span 9;
  }

  .row-span-md-9 {
    grid-row: span 9;
  }

  .cols-md-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .span-md-10 {
    grid-column: span 10;
    grid-row: span 10;
  }

  .col-span-md-10 {
    grid-column: span 10;
  }

  .row-span-md-10 {
    grid-row: span 10;
  }

  .cols-md-11 {
    grid-template-columns: repeat(11, 1fr);
  }

  .span-md-11 {
    grid-column: span 11;
    grid-row: span 11;
  }

  .col-span-md-11 {
    grid-column: span 11;
  }

  .row-span-md-11 {
    grid-row: span 11;
  }

  .cols-md-12 {
    grid-template-columns: repeat(12, 1fr);
  }

  .span-md-12 {
    grid-column: span 12;
    grid-row: span 12;
  }

  .col-span-md-12 {
    grid-column: span 12;
  }

  .row-span-md-12 {
    grid-row: span 12;
  }
}
@media (min-width: 62rem) {
  .cols-lg-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .span-lg-1 {
    grid-column: span 1;
    grid-row: span 1;
  }

  .col-span-lg-1 {
    grid-column: span 1;
  }

  .row-span-lg-1 {
    grid-row: span 1;
  }

  .cols-lg-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .span-lg-2 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .col-span-lg-2 {
    grid-column: span 2;
  }

  .row-span-lg-2 {
    grid-row: span 2;
  }

  .cols-lg-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .span-lg-3 {
    grid-column: span 3;
    grid-row: span 3;
  }

  .col-span-lg-3 {
    grid-column: span 3;
  }

  .row-span-lg-3 {
    grid-row: span 3;
  }

  .cols-lg-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .span-lg-4 {
    grid-column: span 4;
    grid-row: span 4;
  }

  .col-span-lg-4 {
    grid-column: span 4;
  }

  .row-span-lg-4 {
    grid-row: span 4;
  }

  .cols-lg-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .span-lg-5 {
    grid-column: span 5;
    grid-row: span 5;
  }

  .col-span-lg-5 {
    grid-column: span 5;
  }

  .row-span-lg-5 {
    grid-row: span 5;
  }

  .cols-lg-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .span-lg-6 {
    grid-column: span 6;
    grid-row: span 6;
  }

  .col-span-lg-6 {
    grid-column: span 6;
  }

  .row-span-lg-6 {
    grid-row: span 6;
  }

  .cols-lg-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .span-lg-7 {
    grid-column: span 7;
    grid-row: span 7;
  }

  .col-span-lg-7 {
    grid-column: span 7;
  }

  .row-span-lg-7 {
    grid-row: span 7;
  }

  .cols-lg-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .span-lg-8 {
    grid-column: span 8;
    grid-row: span 8;
  }

  .col-span-lg-8 {
    grid-column: span 8;
  }

  .row-span-lg-8 {
    grid-row: span 8;
  }

  .cols-lg-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .span-lg-9 {
    grid-column: span 9;
    grid-row: span 9;
  }

  .col-span-lg-9 {
    grid-column: span 9;
  }

  .row-span-lg-9 {
    grid-row: span 9;
  }

  .cols-lg-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .span-lg-10 {
    grid-column: span 10;
    grid-row: span 10;
  }

  .col-span-lg-10 {
    grid-column: span 10;
  }

  .row-span-lg-10 {
    grid-row: span 10;
  }

  .cols-lg-11 {
    grid-template-columns: repeat(11, 1fr);
  }

  .span-lg-11 {
    grid-column: span 11;
    grid-row: span 11;
  }

  .col-span-lg-11 {
    grid-column: span 11;
  }

  .row-span-lg-11 {
    grid-row: span 11;
  }

  .cols-lg-12 {
    grid-template-columns: repeat(12, 1fr);
  }

  .span-lg-12 {
    grid-column: span 12;
    grid-row: span 12;
  }

  .col-span-lg-12 {
    grid-column: span 12;
  }

  .row-span-lg-12 {
    grid-row: span 12;
  }
}
@media (min-width: 75rem) {
  .cols-xl-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .span-xl-1 {
    grid-column: span 1;
    grid-row: span 1;
  }

  .col-span-xl-1 {
    grid-column: span 1;
  }

  .row-span-xl-1 {
    grid-row: span 1;
  }

  .cols-xl-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .span-xl-2 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .col-span-xl-2 {
    grid-column: span 2;
  }

  .row-span-xl-2 {
    grid-row: span 2;
  }

  .cols-xl-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .span-xl-3 {
    grid-column: span 3;
    grid-row: span 3;
  }

  .col-span-xl-3 {
    grid-column: span 3;
  }

  .row-span-xl-3 {
    grid-row: span 3;
  }

  .cols-xl-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .span-xl-4 {
    grid-column: span 4;
    grid-row: span 4;
  }

  .col-span-xl-4 {
    grid-column: span 4;
  }

  .row-span-xl-4 {
    grid-row: span 4;
  }

  .cols-xl-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .span-xl-5 {
    grid-column: span 5;
    grid-row: span 5;
  }

  .col-span-xl-5 {
    grid-column: span 5;
  }

  .row-span-xl-5 {
    grid-row: span 5;
  }

  .cols-xl-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .span-xl-6 {
    grid-column: span 6;
    grid-row: span 6;
  }

  .col-span-xl-6 {
    grid-column: span 6;
  }

  .row-span-xl-6 {
    grid-row: span 6;
  }

  .cols-xl-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .span-xl-7 {
    grid-column: span 7;
    grid-row: span 7;
  }

  .col-span-xl-7 {
    grid-column: span 7;
  }

  .row-span-xl-7 {
    grid-row: span 7;
  }

  .cols-xl-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .span-xl-8 {
    grid-column: span 8;
    grid-row: span 8;
  }

  .col-span-xl-8 {
    grid-column: span 8;
  }

  .row-span-xl-8 {
    grid-row: span 8;
  }

  .cols-xl-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .span-xl-9 {
    grid-column: span 9;
    grid-row: span 9;
  }

  .col-span-xl-9 {
    grid-column: span 9;
  }

  .row-span-xl-9 {
    grid-row: span 9;
  }

  .cols-xl-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .span-xl-10 {
    grid-column: span 10;
    grid-row: span 10;
  }

  .col-span-xl-10 {
    grid-column: span 10;
  }

  .row-span-xl-10 {
    grid-row: span 10;
  }

  .cols-xl-11 {
    grid-template-columns: repeat(11, 1fr);
  }

  .span-xl-11 {
    grid-column: span 11;
    grid-row: span 11;
  }

  .col-span-xl-11 {
    grid-column: span 11;
  }

  .row-span-xl-11 {
    grid-row: span 11;
  }

  .cols-xl-12 {
    grid-template-columns: repeat(12, 1fr);
  }

  .span-xl-12 {
    grid-column: span 12;
    grid-row: span 12;
  }

  .col-span-xl-12 {
    grid-column: span 12;
  }

  .row-span-xl-12 {
    grid-row: span 12;
  }
}
@media (min-width: 87.5rem) {
  .cols-xxl-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .span-xxl-1 {
    grid-column: span 1;
    grid-row: span 1;
  }

  .col-span-xxl-1 {
    grid-column: span 1;
  }

  .row-span-xxl-1 {
    grid-row: span 1;
  }

  .cols-xxl-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .span-xxl-2 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .col-span-xxl-2 {
    grid-column: span 2;
  }

  .row-span-xxl-2 {
    grid-row: span 2;
  }

  .cols-xxl-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .span-xxl-3 {
    grid-column: span 3;
    grid-row: span 3;
  }

  .col-span-xxl-3 {
    grid-column: span 3;
  }

  .row-span-xxl-3 {
    grid-row: span 3;
  }

  .cols-xxl-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .span-xxl-4 {
    grid-column: span 4;
    grid-row: span 4;
  }

  .col-span-xxl-4 {
    grid-column: span 4;
  }

  .row-span-xxl-4 {
    grid-row: span 4;
  }

  .cols-xxl-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .span-xxl-5 {
    grid-column: span 5;
    grid-row: span 5;
  }

  .col-span-xxl-5 {
    grid-column: span 5;
  }

  .row-span-xxl-5 {
    grid-row: span 5;
  }

  .cols-xxl-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .span-xxl-6 {
    grid-column: span 6;
    grid-row: span 6;
  }

  .col-span-xxl-6 {
    grid-column: span 6;
  }

  .row-span-xxl-6 {
    grid-row: span 6;
  }

  .cols-xxl-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .span-xxl-7 {
    grid-column: span 7;
    grid-row: span 7;
  }

  .col-span-xxl-7 {
    grid-column: span 7;
  }

  .row-span-xxl-7 {
    grid-row: span 7;
  }

  .cols-xxl-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .span-xxl-8 {
    grid-column: span 8;
    grid-row: span 8;
  }

  .col-span-xxl-8 {
    grid-column: span 8;
  }

  .row-span-xxl-8 {
    grid-row: span 8;
  }

  .cols-xxl-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .span-xxl-9 {
    grid-column: span 9;
    grid-row: span 9;
  }

  .col-span-xxl-9 {
    grid-column: span 9;
  }

  .row-span-xxl-9 {
    grid-row: span 9;
  }

  .cols-xxl-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .span-xxl-10 {
    grid-column: span 10;
    grid-row: span 10;
  }

  .col-span-xxl-10 {
    grid-column: span 10;
  }

  .row-span-xxl-10 {
    grid-row: span 10;
  }

  .cols-xxl-11 {
    grid-template-columns: repeat(11, 1fr);
  }

  .span-xxl-11 {
    grid-column: span 11;
    grid-row: span 11;
  }

  .col-span-xxl-11 {
    grid-column: span 11;
  }

  .row-span-xxl-11 {
    grid-row: span 11;
  }

  .cols-xxl-12 {
    grid-template-columns: repeat(12, 1fr);
  }

  .span-xxl-12 {
    grid-column: span 12;
    grid-row: span 12;
  }

  .col-span-xxl-12 {
    grid-column: span 12;
  }

  .row-span-xxl-12 {
    grid-row: span 12;
  }
}
.gg-0 {
  grid-gap: 0;
}

.ggr-0 {
  grid-row-gap: 0;
}

.ggc-0 {
  grid-column-gap: 0;
}

.gg-1 {
  grid-gap: 0.25rem;
}

.ggr-1 {
  grid-row-gap: 0.25rem;
}

.ggc-1 {
  grid-column-gap: 0.25rem;
}

.gg-2 {
  grid-gap: 0.5rem;
}

.ggr-2 {
  grid-row-gap: 0.5rem;
}

.ggc-2 {
  grid-column-gap: 0.5rem;
}

.gg-3 {
  grid-gap: 1rem;
}

.ggr-3 {
  grid-row-gap: 1rem;
}

.ggc-3 {
  grid-column-gap: 1rem;
}

.gg-4 {
  grid-gap: 1.5rem;
}

.ggr-4 {
  grid-row-gap: 1.5rem;
}

.ggc-4 {
  grid-column-gap: 1.5rem;
}

.gg-5 {
  grid-gap: 3rem;
}

.ggr-5 {
  grid-row-gap: 3rem;
}

.ggc-5 {
  grid-column-gap: 3rem;
}

@media (min-width: 36rem) {
  .gg-sm-0 {
    grid-gap: 0;
  }

  .ggr-sm-0 {
    grid-row-gap: 0;
  }

  .ggc-sm-0 {
    grid-column-gap: 0;
  }

  .gg-sm-1 {
    grid-gap: 0.25rem;
  }

  .ggr-sm-1 {
    grid-row-gap: 0.25rem;
  }

  .ggc-sm-1 {
    grid-column-gap: 0.25rem;
  }

  .gg-sm-2 {
    grid-gap: 0.5rem;
  }

  .ggr-sm-2 {
    grid-row-gap: 0.5rem;
  }

  .ggc-sm-2 {
    grid-column-gap: 0.5rem;
  }

  .gg-sm-3 {
    grid-gap: 1rem;
  }

  .ggr-sm-3 {
    grid-row-gap: 1rem;
  }

  .ggc-sm-3 {
    grid-column-gap: 1rem;
  }

  .gg-sm-4 {
    grid-gap: 1.5rem;
  }

  .ggr-sm-4 {
    grid-row-gap: 1.5rem;
  }

  .ggc-sm-4 {
    grid-column-gap: 1.5rem;
  }

  .gg-sm-5 {
    grid-gap: 3rem;
  }

  .ggr-sm-5 {
    grid-row-gap: 3rem;
  }

  .ggc-sm-5 {
    grid-column-gap: 3rem;
  }
}
@media (min-width: 48rem) {
  .gg-md-0 {
    grid-gap: 0;
  }

  .ggr-md-0 {
    grid-row-gap: 0;
  }

  .ggc-md-0 {
    grid-column-gap: 0;
  }

  .gg-md-1 {
    grid-gap: 0.25rem;
  }

  .ggr-md-1 {
    grid-row-gap: 0.25rem;
  }

  .ggc-md-1 {
    grid-column-gap: 0.25rem;
  }

  .gg-md-2 {
    grid-gap: 0.5rem;
  }

  .ggr-md-2 {
    grid-row-gap: 0.5rem;
  }

  .ggc-md-2 {
    grid-column-gap: 0.5rem;
  }

  .gg-md-3 {
    grid-gap: 1rem;
  }

  .ggr-md-3 {
    grid-row-gap: 1rem;
  }

  .ggc-md-3 {
    grid-column-gap: 1rem;
  }

  .gg-md-4 {
    grid-gap: 1.5rem;
  }

  .ggr-md-4 {
    grid-row-gap: 1.5rem;
  }

  .ggc-md-4 {
    grid-column-gap: 1.5rem;
  }

  .gg-md-5 {
    grid-gap: 3rem;
  }

  .ggr-md-5 {
    grid-row-gap: 3rem;
  }

  .ggc-md-5 {
    grid-column-gap: 3rem;
  }
}
@media (min-width: 62rem) {
  .gg-lg-0 {
    grid-gap: 0;
  }

  .ggr-lg-0 {
    grid-row-gap: 0;
  }

  .ggc-lg-0 {
    grid-column-gap: 0;
  }

  .gg-lg-1 {
    grid-gap: 0.25rem;
  }

  .ggr-lg-1 {
    grid-row-gap: 0.25rem;
  }

  .ggc-lg-1 {
    grid-column-gap: 0.25rem;
  }

  .gg-lg-2 {
    grid-gap: 0.5rem;
  }

  .ggr-lg-2 {
    grid-row-gap: 0.5rem;
  }

  .ggc-lg-2 {
    grid-column-gap: 0.5rem;
  }

  .gg-lg-3 {
    grid-gap: 1rem;
  }

  .ggr-lg-3 {
    grid-row-gap: 1rem;
  }

  .ggc-lg-3 {
    grid-column-gap: 1rem;
  }

  .gg-lg-4 {
    grid-gap: 1.5rem;
  }

  .ggr-lg-4 {
    grid-row-gap: 1.5rem;
  }

  .ggc-lg-4 {
    grid-column-gap: 1.5rem;
  }

  .gg-lg-5 {
    grid-gap: 3rem;
  }

  .ggr-lg-5 {
    grid-row-gap: 3rem;
  }

  .ggc-lg-5 {
    grid-column-gap: 3rem;
  }
}
@media (min-width: 75rem) {
  .gg-xl-0 {
    grid-gap: 0;
  }

  .ggr-xl-0 {
    grid-row-gap: 0;
  }

  .ggc-xl-0 {
    grid-column-gap: 0;
  }

  .gg-xl-1 {
    grid-gap: 0.25rem;
  }

  .ggr-xl-1 {
    grid-row-gap: 0.25rem;
  }

  .ggc-xl-1 {
    grid-column-gap: 0.25rem;
  }

  .gg-xl-2 {
    grid-gap: 0.5rem;
  }

  .ggr-xl-2 {
    grid-row-gap: 0.5rem;
  }

  .ggc-xl-2 {
    grid-column-gap: 0.5rem;
  }

  .gg-xl-3 {
    grid-gap: 1rem;
  }

  .ggr-xl-3 {
    grid-row-gap: 1rem;
  }

  .ggc-xl-3 {
    grid-column-gap: 1rem;
  }

  .gg-xl-4 {
    grid-gap: 1.5rem;
  }

  .ggr-xl-4 {
    grid-row-gap: 1.5rem;
  }

  .ggc-xl-4 {
    grid-column-gap: 1.5rem;
  }

  .gg-xl-5 {
    grid-gap: 3rem;
  }

  .ggr-xl-5 {
    grid-row-gap: 3rem;
  }

  .ggc-xl-5 {
    grid-column-gap: 3rem;
  }
}
@media (min-width: 87.5rem) {
  .gg-xxl-0 {
    grid-gap: 0;
  }

  .ggr-xxl-0 {
    grid-row-gap: 0;
  }

  .ggc-xxl-0 {
    grid-column-gap: 0;
  }

  .gg-xxl-1 {
    grid-gap: 0.25rem;
  }

  .ggr-xxl-1 {
    grid-row-gap: 0.25rem;
  }

  .ggc-xxl-1 {
    grid-column-gap: 0.25rem;
  }

  .gg-xxl-2 {
    grid-gap: 0.5rem;
  }

  .ggr-xxl-2 {
    grid-row-gap: 0.5rem;
  }

  .ggc-xxl-2 {
    grid-column-gap: 0.5rem;
  }

  .gg-xxl-3 {
    grid-gap: 1rem;
  }

  .ggr-xxl-3 {
    grid-row-gap: 1rem;
  }

  .ggc-xxl-3 {
    grid-column-gap: 1rem;
  }

  .gg-xxl-4 {
    grid-gap: 1.5rem;
  }

  .ggr-xxl-4 {
    grid-row-gap: 1.5rem;
  }

  .ggc-xxl-4 {
    grid-column-gap: 1.5rem;
  }

  .gg-xxl-5 {
    grid-gap: 3rem;
  }

  .ggr-xxl-5 {
    grid-row-gap: 3rem;
  }

  .ggc-xxl-5 {
    grid-column-gap: 3rem;
  }
}
