/*---------- header ----------
------------------------------*/
.section_header {
  position: fixed;
  width: 100%;
  background: tranparent;
  top: 0;
  left: 0;
  transition: 0.75s;
  z-index: 1;

  & .header_wrapper {
    background: var(--clr-black);
    position: relative;
    /* z-index: 9999; */

    & .header_wrap {
      height: 60px;

      & .logo {
        height: 36px;
      }
    }
  }
}

.btn-cart {
  width: 50px;
  height: 50px;
  padding: 0;
  text-align: center;
  line-height: 50px;
  position: relative;
  background-color: transparent;
  border: 0;
  color: black;
  transition: 0.15s opacity ease-out;
  /* display: inline-block; */
  display: none;
}
.btn-cart svg {
  width: 26px;
  height: 30px;
  fill: #ccb577;
}
.btn-cart-bubble {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 10px;
  height: 10px;
  background-color: #eb4f47;
  border-radius: 50%;
  transition: all 0.25s ease-out;
}
span#cartCount {
  color: #fff;
  top: 1px;
  position: absolute;
  line-height: 10px;
  font-size: 8px;
  left: 3px;
}

#menu {
  background: var(--clr-white);
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 0.7s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 1100;
  /* padding-top: 4rem; */

  &.open {
    opacity: 1;
    visibility: visible;

    & li {
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-name: fadeInUp;
    }
  }

  & .main-nav {
    position: relative;
    padding-top: 4rem;

    & ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    & a {
      color: var(--primary);
      display: block;
      font-size: 1.25rem;
      font-weight: bold;
      padding: 0.5rem;
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      transition: transform 0.25s ease-out;

      &:after {
        content: "";
        display: block;
        position: relative;
        bottom: 0;
        width: 0;
        margin: 0 auto;
        height: 2px;
        background-color: black;
        transition: all 0.25s;
      }
      &:hover {
        -ms-transform: translateY(-4px);
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);

        &:after {
          width: 100%;
        }
      }
    }
  }
}

.toggle-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  float: right;
  height: 50px;
  outline: none;
  padding: 0;
  pointer-events: initial;
  position: relative;
  vertical-align: middle;
  width: 50px;
  /* z-index: 1110; */

  & span {
    background-color: var(--primary);
    content: "";
    display: block;
    height: 2px;
    left: calc(50% - 13px);
    position: absolute;
    top: calc(50% - 1px);
    transform-origin: 50% 50%;
    transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,
      transform 0.2s linear;
    width: 26px;

    &:before,
    &:after {
      background-color: var(--primary);
      content: "";
      display: block;
      height: 2px;
      position: absolute;
      transform-origin: 50% 50%;
      transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,
        transform 0.2s linear;
      width: 26px;
    }

    &:before {
      top: 7px;
    }

    &:after {
      top: -7px;
    }
  }

  &.activee {
    & span {
      background-color: transparent;
      transition: background 0.2s ease-out;

      &:before,
      &:after {
        transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
      }

      &:before {
        top: 0;
        transform: rotate3d(0, 0, 1, -45deg);
      }

      &:after {
        top: 0;
        transform: rotate3d(0, 0, 1, 45deg);
      }
    }
  }
}

.header_gap {
  margin-top: 60px;
}

/*---------- checkout-header ----------*/
.section_checkoutHeader {
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--borderDark);

  & .checkoutHeader {
    & > * + * {
      margin-top: 1.5rem;
      @media (--viewport-md) {
        margin-top: 0;
      }
    }
    & .logo {
      max-width: 250px;
    }
    & .step {
      width: 440px;
      max-width: 100%;
    }
  }
}
